html {
    scroll-behavior: smooth;
}

.font-raleway {
    font-family: "Raleway", sans-serif;
}

.font-inter {
    font-family: "Inter", sans-serif;
}

/* .seat {
    color: white;
    background-color: #1DD100;
} */

.selectedSeat {
    color: white;
    background-color: #1DD100;
}

.ticket-detail-row {
    display: flex;
    width: 100%;
    justify-content: space-between;
}